table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    caption-side: top;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {background-color: coral;}